header {
  padding: 20px;
}

form {
  position: relative;
}

form input {
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
  font-family: "FontAwesome";
}

#search-label {
  position: absolute;
  top: 25px;
  left: 20px;
  transform: translateY(-50%);
  transition: top 0.3s ease;
  font-size: 16px;
  font-family: "FontAwesome";
  color: rgb(60, 60, 60);
}

form input:focus {
  outline: none;
}

input:focus + #search-label {
  top: -3px;
  left: 20px;
  font-size: 12px;
  color: rgb(60, 60, 60);
}

.user-description__container p {
  margin: 20px 20px 0 0;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(60, 60, 60);
}

.user-description {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 20px;
  cursor: pointer;
}

.user-description:hover {
  background-color: rgb(240, 240, 240);
}

.user-description img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
