* {
  margin: 0;
  box-sizing: border-box;
}

iframe {
  border: none;
}

.sidebar iframe {
  border-right: solid 1px rgb(240, 240, 240);
}

@media (700px <= width) {
  .header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 11px;
    color: rgb(50, 50, 50);
    background-color: rgb(240, 240, 240);
  }

  iframe {
    height: calc(100vh - 30px);
  }

  #frame-chat {
    width: calc(100vw - 60px - 300px);
  }

  .wrapper {
    display: flex;
  }

  .navbar,
  .sidebar,
  .chat {
    height: calc(100vh - 30px);
  }

  .navbar-icon__container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .navbar-icon__container i {
    color: rgb(150, 150, 190);
    padding-bottom: 50px;
    cursor: pointer;
  }

  .navbar-icon__container i:hover {
    color: rgb(165, 167, 197);
  }

  .navbar-icon__container i.active {
    color: rgb(255, 255, 255);
  }

  .navbar {
    width: 60px;
    background-color: rgb(35, 35, 60);
  }

  .sidebar {
    width: 300px;
  }
}
