<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.5.0/css/all.css"
    />
    <link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css" />

    <link rel="stylesheet" href="../../styles/chat/chat.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="chat-wrapper">
      <div id="chat-container"></div>
      <div id="chat-form__container"></div>
    </div>
  </body>
</html>
