<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.5.0/css/all.css"
    />
    <link rel="stylesheet" href="../../chatapp.css" />
    <link rel="stylesheet" href="../../styles/sidebars/sidebar-user.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <form>
        <form>
          <input type="text" id="search-input" />
          <label for="search-input" id="search-label"
            >&#xf002; 名前で検索</label
          >
        </form>
      </form>
    </header>
    <section class="user-description__container">
      <div class="user-description">
        <img
          src="https://fastly.picsum.photos/id/323/200/300.jpg?hmac=A2QFYssQ9fNCK_5aWqeo370SEmDX33jJZRSSpkdjFLg"
        />
        <div>武者小路 実篤</div>
      </div>
    </section>

    <section class="user-description__container">
      <p>友達 3</p>
      <div class="user-description">
        <img
          src="https://fastly.picsum.photos/id/821/200/300.jpg?hmac=-CLZlHMcIt8hXlUFZ4-3AvLYDsUJSwUeTri-zHDlnoA"
        />
        <div>武者小路 実篤</div>
      </div>
      <div class="user-description">
        <img
          src="https://fastly.picsum.photos/id/219/300/300.jpg?hmac=dmonesrXdE-9PMrYQcQn9va1iu5a_0p4wGyhw93QSSA"
        />
        <div>武者小路 実篤</div>
      </div>
      <div class="user-description">
        <img
          src="https://fastly.picsum.photos/id/590/300/300.jpg?hmac=TwfWFUxf1M4Z0breCFYpLRzuF-eIeeNSFqFScqH3r6s"
        />
        <div>武者小路 実篤</div>
      </div>
    </section>
    <!-- <script src="../../js/sidebars/sidebar-user.js"></script> -->
  </body>
</html>
