<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.5.0/css/all.css"
    />
    <link rel="stylesheet" href="../../chatapp.css" />
    <link rel="stylesheet" href="../../styles/sidebars/sidebar-user.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <form>
        <form>
          <input type="text" id="search-input" />
          <label for="search-input" id="search-label"
            >&#xf002; 名前で検索</label
          >
        </form>
      </form>
    </header>
    <section class="user-description__container">
      <div class="user-description">
        <div class="user-description__icon">
          <i class="fa-solid fa-user fa-2x"></i>
        </div>
        <div class="user-description__name">ユーザー名</div>
      </div>
    </section>
    <script src="../../js/sidebars/sidebar-user.js"></script>
  </body>
</html>
